body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}


/* ===========================
   Hero
=========================== */

.hero {
	background: url("../img/hero-bg.jpg") center/cover no-repeat;
	min-height: 720px;
	display: flex;
	justify-content: flex-end;
	padding-top: 153px;
	padding-left: 732px;
}

.hero__content {
}

.hero__info {
	max-width: 640px;
	background-color: #FFF3E3;
	padding: 60px;
	border-radius: 10px;
}

.hero__subtitle {
   margin-bottom: 12px;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 3px;
   color: #333;
	text-transform: uppercase;
}

.hero__title {
   margin-bottom: 20px;
   font-size: 52px;
   line-height: 1.2;
   font-weight: 700;
   color: #B88E2F;
}

.hero__text {
   margin-bottom: 40px;
   font-size: 18px;
   line-height: 1.7;
   color: #333;
}

.hero__button {
   background-color: #B88E2F;
   color: #fff;
	padding: 25px 72px 25px 72px;
   text-transform: uppercase;
   transition: 0.3s;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5; /* 24/16 */
}

.hero__button:hover {
   background-color: #9d7725;
}

@media (max-width: 790px) {
	.hero {
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 15px;
	}
}



.page {
}
.page__container {
}
.page__range {
}
.range {
	margin-bottom: 56px;
}
.range__text {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 63px;
}
.range__title {
	color: rgba(51, 51, 51, 1);
	font-size: 32px;
	font-weight: 700;
	line-height: 1.54; /* 48/31 */
	letter-spacing: 0px;
}
.range__subtitle {
	color: rgba(102, 102, 102, 1);
	font-size: 20px;
	line-height: 1.5;
}
.range__items {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}
.range__item {
}

.range__item h4{
	margin-top: 30px;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	color: #333;
}

.products__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 32px;
	margin-bottom: 32px;
}

.products-card {
	position: relative;
	width: 285px;
	overflow: hidden;
	background: #f4f5f7;
}

.card img {
	width: 100%;
	display: block;
}

.content__title {
	font-size: 24px;
	color: #3a3a3a;
	margin-bottom: 8px;
}

.content__subtitle {
	font-size: 16px;
	color: #898989;
	margin-bottom: 8px;
}

.card__content {
	margin-bottom: 30px;
}

.content__price {
	font-size: 20px;
	font-weight: 600;
	color: #3a3a3a;
}

.content__oldprice {
	font-size: 20px;
	font-weight: 600;
	color: #3a3a3a;
}

/* Overlay */
.card__overlay {
	position: absolute;
	inset: 0;
	background: rgba(58, 58, 58, 0.72);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
}

.products-card:hover .card__overlay {
	opacity: 1;	
}

.add-to-cart {
	background: #fff;
	color: #b88e2f;
	border: none;
	padding: 12px 52px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 24px;
}

.add-to-cart:hover {
	color: #fff;
	background: #b88e2f;
}

.actions {
	display: flex;
	gap: 20px;
}

.actions a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

.actions a:hover {
	color: #b88e2f;
}

.actions__link-share::after {
	background-image: url(../img/share.svg);
}

.actions__link-compare::after {
	background-image: url(../img/compare.svg);
}

.actions__link-like::after {
	background-image: url(../img/Heart.svg);
}
.content__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
	color: #3a3a3a;
	margin-top: 16px;
	margin-bottom: 8px;
}

.content-subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #898989;
}

.content__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #3a3a3a;
	margin-right: 16px;
}

.content__price-old {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-decoration: line-through;
	color: #b0b0b0;
}

.products__title {
	color: rgba(58, 58, 58, 1);
	font-size: 40px;
	font-weight: 700;
	line-height: 120%;
	text-align: center;
	margin-bottom: 32px;
}

.products__button {
}

.products__button a:hover {
	color: white;
	background-color: rgba(184, 142, 47, 1);

}

.products__button a{
	border: 1px solid rgba(184, 142, 47, 1);
	padding: 12px 82px 12px 74px;
	color: rgba(184, 142, 47, 1);
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	text-align: left;
}
