.header-block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;
}
.header-block--center {
	justify-content: center;
	text-align: center;
	align-items: center;
}
.header-block--center .header-block__text {
	text-wrap: pretty;
	max-width: 710px;
	/* max-width: 650px; */
}

.header-block--horisontal {
	flex-direction: row;
	flex-wrap: wrap;
}
.header-block--horisontal > * {
	flex: 1 1 320px;
}

.header-block--horisontal .header-block__text {
	align-self: center;
}

.header-block__title {
	text-wrap: balance;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.2; /* 58/48 */
}
.header-block__text {
	line-height: 1.75;
	opacity: 0.6;
}
.header-block__text p:not(:last-child) {
	margin-bottom: 15px;
}

@media (width < 992px) {
	.header-block {
		gap: 15px;
	}
	.header-block__title {
		font-size: 32px;
	}
}

/* Social */
.social {
	display: flex;
	column-gap: 40px;
	row-gap: 5px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.social__item {
}
.social__link {
}

@media (width < 720px) {
	.social {
		column-gap: 20px;
	}
}
