@font-face {
	font-family: "InterDisplay";
	src: url("../fonts/InterDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "InterDisplay";
	src: url("../fonts/InterDisplay-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "InterDisplay";
	src: url("../fonts/InterDisplay-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "InterDisplay";
	src: url("../fonts/InterDisplay-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
