.header {
	position: sticky;
	top: 0;
	z-index: 50;
}
.header::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__container {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 40px 0;
}
.header__logo {
	flex: 0 0 200px;
	position: relative;
	z-index: 5;
}
.header__image-logo {
}
.header__menu {
	flex-grow: 1;
}
.header__social {
	flex: 0 0 200px;
	position: relative;
	z-index: 5;
}

/* Menu */
.menu {
}
.menu__body {
	position: relative;
	z-index: 2;
}
.menu__list {
	display: flex;
	gap: 8px 60px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.menu__item {
}
.menu__link {
	position: relative;
	line-height: 1.2;
}
.menu__link::after {
	content: "";
	left: 50%;
	width: 0;
	height: 1px;
	transition: all 0.3s;
	background-color: #000;
	position: absolute;
	top: 100%;
}

.menu__link:hover::after {
	width: 100%;
	left: 0;
}

.icon-menu {
	display: none;
}

@media (width < 720px) {
	.header::after {
		z-index: 4;
	}
	.header__container {
		padding: 20px 0;
	}
	.header__logo {
		order: 1;
		flex: 0 0 auto;
	}
	.header__social {
		order: 2;
		flex: 1 0 auto;
	}
	.menu {
		order: 3;
		flex-grow: 0;
	}
	.menu__body {
		position: fixed;
		overflow: auto;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		padding: 100px 15px 30px 15px;
	}
	[data-menu-open] .menu__body {
		left: 0;
	}

	.menu__list {
		flex-direction: column;
		gap: 35px 0px;
		align-items: flex-end;
	}
	.menu__link {
		font-size: 28px;
	}

	.icon-menu {
		display: block;
		width: 40px;
		height: 18px;
		flex-shrink: 0;
		position: relative;
		z-index: 5;
	}
	.icon-menu::before,
	.icon-menu::after,
	.icon-menu span {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #000;
		right: 0;
		transition: all 0.3s;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		top: 50%;
		translate: 0 -50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		bottom: 50%;
		translate: 0 50%;
	}
	[data-menu-open] .icon-menu span {
		width: 0;
	}
}
