
body {
	font-family: "Roboto", sans-serif;
	background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%);
	padding: 30px;
}


.header h1 {
	font-weight: 700;
	font-size: 60px; 
	text-align: center;
	font-style: italic;
}
.header {
	margin-bottom: 20px;
}

.logo, .icon, .hero, .photo {
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 40px;
}
.logo span, .icon-item span,
.hero span {
	font-size: 20px;
	vertical-align: top;
}


.icon-item {
	margin-left: 15px;
}
.icon-item:not(:last-child), 
.photo-item:not(:last-child){
	padding-bottom: 10px;
}
.icon-link {
}
.icon-account::before {
	content: "";
	background: url(../img/account.svg) 0 0 /auto no-repeat;
	width: 28px;
	height: 28px;
}
.icon-search::before {
	content: "";
	background: url(../img/search.svg) 0 0 /auto no-repeat;
	width: 28px;
	height: 28px;
}
.icon-heart {
		content: "";
	background: url(../img/heart.svg) 0 0 /auto no-repeat;
	width: 28px;
	height: 28px;
}
.icon-shop {
	content: "";
	background: url(../img/shop.svg) 0 0 /auto no-repeat;
	width: 28px;
	height: 28px;
}

.hero span {
	display: inline-block;
	padding: 10px 0;
}

.photo-item span {
	font-size: 18px;
	padding-left: 10px;
	font-weight: 700;
	font-style: italic;
}

.footer h2 {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}