
body {
	font-family: "Barlow", sans-serif;
	background-color: #333;
	color: #fff;
}
/* ------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: clip;
}
/* ------------------------------------------------------------------- */
[class*="__container"] {
	max-width: 800px;
	margin: 0 auto;
}

.header {
	position: sticky;
	top: 0;
	background-color: green;
	z-index: 50;
}
.header__container {
}
.header__menu {
}
.menu {
	margin-bottom: 30px;
}
.menu__body {
}
.menu__list {
}
.menu__item {
	display: inline-block;
	position: relative;
}
.menu__item:not(:last-child) {
	margin-right: 15px;
}
.menu__item:hover .menu__link {
	text-decoration: underline;
}
.menu__item:hover .submenu {
	opacity: 1;
	visibility: visible;
	translate: 0 0px;
	pointer-events: all;
}

.menu__link {
	font-size: 20px;
	padding: 20px 0px;
}
.menu__submenu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 200px;
	background-color: yellowgreen;
	padding: 20px;
}

.submenu {
	opacity: 0;
	translate: 0 10px;
	visibility: hidden;
	transition: all 0.3s;
	pointer-events: none;
}
.submenu__item {
}
.submenu__item:not(:last-child) {
	margin-bottom: 10px;
}
.submenu__link {
	font-size: 18px;
}
.submenu__link:hover {
	text-decoration: underline;
}

.submenu__subitems{
	position: absolute;
	left:120px;
	top: 57px;
	width: 120px;
	background-color: yellow;
	opacity: 0;
	visibility: hidden;
}

.submenu__subitem:hover .submenu__subitems {
   opacity: 1;
   visibility: visible;
}

.submenu__subitem:not(:last-child) {
   margin-bottom: 8px;
}

.submenu__sublink{
   font-size: 18px;
   right: 50px;
   padding: 10px;
}
.submenu__sublink:hover {
   text-decoration: underline;
	color: white;

}
.submenu__item:hover .submenu__subitems{
	opacity: 1;
	visibility: visible;
}
.page {
	margin-bottom: 50px;
}

.respons__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #f9efec;
}

.respons__list {
	font-weight: 700;
	max-width: 770px;
}

.respons__item {
	position: relative;
	margin-bottom: 10px;
	line-height: 1.5;
	padding-top: 3px;
	min-height: 30px;
	font-size: 16px;
	color: #b3b3b2;
}

.respons__item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	left: -26px;
	top: 10px;
	background: url("../img/list.svg");
	background-size: contain;
   background-repeat: no-repeat;
}

.footer h2 {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
